*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    width: 100%;
    height: 100vh;
}
.banner{
    position: relative;
    width: 100%;
}
.banner img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.banner .banner-content{
    position: absolute;
    top: 30%;
    left:50%
}
.banner-content{
    width: 525px;
    text-align: right;
}
.banner-content h1{
    font-size: 65px;
    font-weight: bold;
    color: #151414;
}
.banner-content p{
    margin: 24px 0px 32px 120px;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
.banner-content .btn1{
  padding: 21px 20px 25px 26px;
  background-color: #F15B22;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
}
#failure{
    width: 67%;
    max-width: 1071px;
    margin: 0 auto;
    margin-top: 131px;
    display:flex;
    align-items: center;
    gap:87px;
}
#failure .image{
    position: relative;
    width: 569px;
    height: 723px;
    display: flex;
  align-items:end;
  justify-content: center;
}
#failure .image::before{
  content:"" ;
  position: absolute;
  width: 525px;
  height: 528px;
  background-color: #ffd5c4;
  border-radius: 252px;
}
.image img { 
  position: relative;
}
#failure .failuer-text{
  padding-top: 150px;
  width: 416px;
  text-align: left;
}
.failuer-text h2{
  width: 288px;
  font-size: 40px;
  font-weight: bold;
  color: #151414;

}
.failuer-text p{
  margin-top: 24px;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
}
.failuer-text ul{
  margin-top: 16px;
  text-align: center;
}
.failuer-text li{
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  list-style: none;
  display: flex;
  align-items: center;
  gap:10px;
  margin-bottom: 8px;
}
.failuer-text li i{
  width: 24px;
  color: #16D887;
}
